<div class="outline-1 outline-black">
  <h3 class="weekday"> <%= weekday forecast.date %> </h3>
  <h3 class="month-day"> <%= month_and_day forecast.date %> </h3>
  <%= image_tag forecast.icon %>
  <p class="temp-low"> Low: <%=  forecast.low %> </p>
  <p class="temp-high"> High: <%= forecast.high %> </p>
</div>
